@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

*{
    list-style: none;
    font-family: 'Century Gothic', 'Regular';
}
body{
    background-color: #cdb998;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: white;
}
.inner-header{
    padding-top: 13px;
    height: 96px;    
}
.logo{
    margin: 1% 7.5% 0 8.6% ;
    display: inline-block; 
}
.logo img{
    height: 60px;
    width: 176px;
}
.navigation{
    float: right;
    height: 100%;
    width: 68%;
    padding: 0;
    margin-right: 1.7%;
    font-size: 29px;
    text-transform: uppercase;
    color: #666666;
}
.navigation li{
    float: left;
    display: table;
}
.navigation li:hover{
    transform: translateY(-2px);
}
.navigation li:not(:first-child){
    border-left: 2px solid #dc7353;  
    margin-left: 2.9%; 
    padding-left: 2.5%;
}
.top-content-wrap{
    height: 840px;
    background: linear-gradient(white,#cdb998);
    padding-right: 60px;
}
.border{
    height: 730px;
    width: 920px;
    background-color:#330000;
    clip-path: polygon(0 0, 58% 0, 100% 39%, 100% 100%, 40% 100%, 0 61%);
    float: right;
}
.img-wrap{
    position: relative;
    background-image: url(img/Layer3.jpg);
    background-position: center;
    height: 708px;
    width: 900px;
    clip-path: polygon(0 0, 56% 0, 100% 41%, 100% 100%, 42% 100%, 0 59%);
    border: solid 10px #330000;
}
.top-content-text{
    margin:0;
    font-size: 120px;
    color: #dd7353;
    text-transform: uppercase;
    width: 350px;
    line-height: 90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;
}
.apply-button{
    background-color: #330000;
    color: #cdb998;
    height: 140px;
    width: 300px;
    font-size: 45px;
    text-transform: uppercase;
    position: absolute;
    bottom: -40%;
    left: 10%;
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
    border: none;
}
.apply-button:hover{
    color: white;
}
.services-header{
    text-align: center;
    font-size: 45px;
    color: #1d1d1d;
    overflow: hidden;
}
.services-header:before,
.services-header:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 15%;
  height: 3px;
  background: #dc7353;
  border-width: 0 10px;
}
.services-header:before {
    margin-left: -100%;
  }
.services-header:after {
    margin-right: -100%;
}
.services-list{
    height: 700px;
    width: 100%;
}
.hidden-text{
    position: relative;
    height: 14%;
}
.list-item{
    display: flex;
    height: 100%;
    z-index: 1;
}
.services-image{
    height: 100%;
    width: 65%;
    opacity: 0.6;
}
.simage-one{
    background-image: url('img/li1.jpg');
    background-position: 40% 20%;
}
.simage-two{
    background-image: url('img/li2.jpg');
    background-position: 20% 60%;
}
.simage-three{
    background-image: url('img/li3.jpg');
    background-position: 40% 20%;
}
.simage-four{
    background-image: url('img/li4.jpg');
    background-position: 45% 1%;
}
.simage-five{
    background-image: url('img/li5.jpg');
    background-position: 60% 30%;
}
.simage-six{
    background-image: url('img/li6.jpg');
    background-position: 40% 35%;
}
.simage-seven{
    background-image: url('img/li7.jpg');
    background-position: 70% 60%;
}
.services-desc{
    position: relative;
    width: 35%;
    background-color: #330000;
    color: #c5b08e;
    font-size: 35px;
}
.left>.services-desc:after{
    content: ''; 
    position: absolute;
    right: -21%;
    border: 50px solid transparent;	border-left: 50px solid #330000; border-top: 48px solid #330000;
    z-index: 1;
}
.right>.services-desc:before{
    content: ''; 
    position: absolute;
    left: -21%;
    border: 50px solid transparent; border-right: 50px solid #330000; border-bottom: 48px solid #330000;
    z-index: 1;
}
.right{
    flex-direction: row-reverse;
}
.services-text{
    background-color: #c5b08e;
    width: 100%;
    height: 100px;
    visibility: hidden;
    position: absolute;
    top: 70%;
    z-index: -1;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 18px;
}
.list-item:hover{
    color: white;
    opacity: 1;
}
.list-item:hover + div{
    visibility: visible;
    top: 100%;
    transition-duration: 1s;
}
.hidden-text:hover{
    transition-duration: 2s;
    margin-bottom: 8%;
}
.clients-wrap{
    height: 1000px;
}
.clients-header{
    margin-top: 8%;
    text-align: center;
    font-size: 45px;
    color: #1d1d1d;
    overflow: hidden;
}
.clients-header:before,
.clients-header:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 25%;
  height: 3px;
  background: #dc7353;
  border-width: 0 10px;
}
.clients-header:before {
    margin-left: -100%;
  }
.clients-header:after {
    margin-right: -100%;
  }
.clients{
    position: relative;
    height: 700px;
    box-sizing: border-box;
}
.clients-images{
    display: flex;
    width: 100%;
    height: 700px;
}
.clients-image{
    width: 700px;
    height: 700px;
}
.clients-one{
    background-image: url('img/clients1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
}
.clients-two{
    background-image: url('img/clients2.jpg');
    background-repeat: no-repeat;
    background-position: right;
    width: 25%;
    margin-left: auto;
}
.line-one{
    background-color: #eae1d4;
    width: 500px;
    height: 100%;
}
.line-two{
    background: #a0b282;
    width: 250px;
    height: 100%;
}
.line{
    transform: skew(-20deg);
}
.lines{
    position: absolute;
    height: 701px;
    width: 70%;
    display: flex;
    align-items: center;
    left: 15%;
}
.clients-text{
    font-size: 24px;
    color: #1d1d1d;
    text-align: center;
    width: 95%;
    padding: 3% 2%;
    margin: 0;
}
.contacts-header{
    text-align: center;
    font-size: 45px;
    color: #1d1d1d;
    overflow: hidden;
}
.contacts-header:before,
.contacts-header:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 15%;
  height: 3px;
  background: #dc7353;
  border-width: 0 10px;
}
.contacts-header:before {
    margin-left: -100%;
  }
.contacts-header:after {
    margin-right: -100%;
}
.contacts{
    height: 700px;
}
.form-container{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 120px;
}
.form-back{
    background-color: #f5f1ea;
    width: 685px;
    height: 400px;
}
.form{
    height:70%;
}
.form input, textarea{
    border: 3px solid #dc7353;
    margin: 1% 1%;
}
.form input[placeholder], textarea[placeholder]
{
    font-size: 24px;
    padding: 2% 2%;
}
.form textarea{
    width: 93%;
    height: 100%;
}
.align-up{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.align-up input{
    width: 44%;
}
.icon-wrap{
    width: 56px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.mail{
    background-image: url('img/mail.png');
    background-repeat: no-repeat;
}
.phone{
    background-image: url('img/phone.png');
    background-repeat: no-repeat;
}
.telegram{
    background-image: url('img/tg.png');
    background-repeat: no-repeat;
}
.icon-item{
    display: flex;
}
.icon-wrap.phone +p{
    height: 30px;
    margin-top: 0;
}
.send-button{
    background-color: #330000;
    color: #cdb998;
    height:70px;
    width: 230px;
    margin-top: 7%;
    font-size: 35px;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
    border: none;
}
.send-button:hover{
    color: white;
}
footer{
    background-color: #330000;
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
}
footer p{
    margin: 0;
    color: white;
}
.copy{
    font-size: 22px;
    position: absolute;
    bottom: 20%;
    left: 3%;
}
.title{
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    left: 45%;
    top: 40%;
}
.info{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    bottom: 20%;
    text-align: right;
    font-size: 20px;
}